<section class="switch">
	<p>
		<input id="expert-btn" type="radio" name="switch" checked/>
		<label for="expert-btn" class="text-label expert">
			<span class="circle"></span>expert</label>
	</p>
	<p>
		<input id="LexStat-btn" type="radio" name="switch" />
		<label for="LexStat-btn" class="text-label LexStat">		<span class="circle"></span>LexStat
		</label>
	</p>
	<p>
		<input id="svm-btn" type="radio" name="switch" />
		<label for="svm-btn" class="text-label svm">
			<span class="circle"></span>svm
		</label>
	</p>
</section>
<section class="gloss">
	{{# cogs }}
	<article class="cognate-class">
		<h2>cognate class: <span class="cog-class-id">{{ cogClass }}</span></h2>
		<table>
			<tbody>
				{{# entries }}
				<tr>
					<td class="lang">{{ lang }}</td>
					<td class="word">{{ word }}</td>
				</tr>
				{{/ entries }}
			</tbody>
		</table>
	</article>
	{{/ cogs }}
</section>	
