<section class="gloss">
	<p>
		Showing <strong>{{ numWords }}</strong> words
		in the <strong>{{ dataset }}</strong> dataset
		for the concept <a href="" title="Concepticon entry for {{ gloss }}"><strong>{{ gloss }}</strong></a>
	</p>
	<table>
		<thead>
			<tr class="header">
				<th>Doculect</th>
				<th>Transcription</th>
				<th class="choosable" data-order="expert">Expert</th>
				<th class="choosable" data-order="lexstat">LexStat</th>
				<th class="choosable" data-order="svm">SVM</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</section>
